@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(23, 23, 23);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--font-roboto);
    --font-roboto-mono: var(--font-roboto-mono);
}

body {
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer base {
    body {
        @apply bg-background dark:bg-gray-950 text-foreground dark:text-gray-300;
    }
}

@layer components {
    .label {
        @apply text-[13px] sm:text-[14px] lg:text-[15px] font-medium;
    }
    .input {
        @apply h-10 w-full mt-1 rounded-lg shadow-2xs dark:shadow-none p-3 border text-[14px] sm:text-[15px] dark:bg-gray-800 border-gray-200 dark:border-gray-700 text-gray-700 dark:text-gray-300 placeholder:text-gray-500 dark:placeholder:text-gray-400 placeholder:font-normal placeholder:text-[13px] sm:placeholder:text-[15px];
    }
    .input:focus {
        @apply outline-2 dark:outline-none border-gray-400 dark:border-gray-500 outline-stone-200;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    scrollbar-width: none;
}
