@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(23, 23, 23);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--font-roboto);
    --font-roboto-mono: var(--font-roboto-mono);
}

body {
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer base {
    body {
        @apply bg-background text-foreground dark:bg-gray-950 dark:text-gray-300;
    }
}

@layer components {
    .label {
        @apply text-[13px] font-medium sm:text-[14px] lg:text-[15px];
    }
    .input {
        @apply mt-1 h-10 w-full rounded-lg border border-gray-200 p-3 text-[14px] text-gray-700 shadow-2xs placeholder:text-[13px] placeholder:font-normal placeholder:text-gray-500 sm:text-[15px] sm:placeholder:text-[15px] dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:shadow-none dark:placeholder:text-gray-400;
    }
    .input:focus {
        @apply border-gray-400 outline-2 outline-stone-200 dark:border-gray-500 dark:outline-none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    scrollbar-width: none;
}
